body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5e5f7;
  background-image:  radial-gradient(#f472b6 0.5px, transparent 0.5px), radial-gradient(#f472b6 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input:focus {
  outline: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  .br {
    border-radius: 25px;
  }
  .text-bg {
    background: linear-gradient(rgba(249, 168, 212, 0.7), rgba(249, 168, 212, 0.9));
  }
}

@layer components{
  .podcast-container {
    @apply flex flex-col h-20 w-11/12 box-shadow
  }
}